DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres"
AUTH_SECRET=
ORDERS_CREATE="orders:create"
ORDERS_ACK="orders:ack"
PORT="3000"
RES_TIMEOUT="30000"
FUNDING_INTERVAL_SECONDS="28800"
SNAPSHOT_INTERVAL="300"
S3_BUCKET=
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
